.main_tittle {
    justify-content: center;
    display: flex;
    gap: 250px;
    align-items: center;
    font-size: 30px;
    
}
.tittle img{
    width: 60px;
height: 90px;
flex-shrink: 0;
}

nav {
    /* width: 1920px;
    height: 5927px; */
    background-color: #fff;
}

.nav_search ul {
    display: flex;
    gap: 25px;
}

.list_design {
    display: flex;
    gap: 25px;
}

.nav_search ul li {
    list-style: none;
}

.tittle {
    display: flex;
    gap: 20px;

}

.tittle img {

    width: 60px;
    gap: 20px;
}

.images {
    height: auto;
    width: auto;
}

.images img {
    width: 550px;
    margin-top: 50px;
}

.tittle_logo {
    display: flex;
    list-style: none;
    justify-content: space-around;

}

/* .li{
    display: flex;
    justify-content: space-around;
} */

.section {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    background-image: url(B8A2-Gamer-Zone-main/images/Group\ 14.png);
    background-repeat: no-repeat;
}

.main {
    background-color: #fff;
}

.h_tittle {
    font-size: 50px;
}

.Goat {
    color: blueviolet;
    border-radius: 10px;
}

.h {
    font-size: 40px;
    color: #534C64;
}

.high {
    text-align: start;

}

.button {
    background-color: hotpink;
    border-radius: 30px;
    text-align: left;
    padding: 20px 40px;
    border: 1px solid hotpink;
}

.button_p {
    background-color: aqua;
    border-radius: 60px;
    padding: 20px 40px;
    border: 1 px solid aqua;
}

.f3 {
    display: flex;
    background-color: #fff;
}

.f3 img {
    width: 700px;
    padding: 30px;
    margin: 30px;
}


.Go {
    color: blueviolet;
    font-size: 50px;
    text-align: center;
}

.p {
    color: #534C64;
    font-size: 30px;
}

.H4 {
    color: #534C64;
    font-size: 40PX;
}

.text {
    text-align: center;
}

.online_game {
    text-align: center;
}

.online_game h1 {

    font-size: 50px;
}

.online_game h6 {
    font-size: 25px;
    gap: 40px;
}


.online_game img {
    padding: 20px 20px 20px 20px;
    margin-left: 30 30;
    gap: 30px;
}

.img3 {
    display: flex;
    padding-left: 150px;
    padding-right: 60px;
    margin: 60px;
    gap: 20px;
    border-image-width: 50px;
    
}

/* .img3 img{
    width: 400px;
    gap: 20 20 20 20;
    max-width: 20 20 20 20;
    padding: 20 20 20 20;
    margin: 20 20 20 20;
    margin gap: 20 20 20 20;
} */
.p_tag {
    display: flex;
    padding-left: 150px;
    padding-right: 60px;
    margin: 60px;
    gap: 40px;

}

.jsc {
    display: flex;
    justify-content: end;
}
 .jsc img{

} 

.highs h1 {
     
    font-size: 50px;


    /* text-align: right;
font-family: "Work Sans";
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px; 125% */

}
.http{
    display: flex;
    gap: 70pxpx;
    margin: 40px;
    text-align: center;
    padding: 250px;
    
}

.highs h1 {
    color: darkorchid;
    font-size: 70 px;
}

.highs span {
    color: black;
    font-size: 35px;
}

.j {
    text-align: right;
    font-size: 40px;
    color: darkmagenta;
}
.omg{
    padding: 100pz;
    align-items: center;
}
.ssc{
    display: flex;
    gap: 60px;
    padding: 120px;
    margin: 40px;
}
.careers{
    text-align: left;
    font-size: 40px;
    
}
.baby{
    background-image: url(B8A2-Gamer-Zone-main/images/Group\ 65.png);
    background-repeat: no-repeat;
    background-color: deeppink;
    width: 2200px;
    height: 800px;
    padding: 50px;
    background-position: right;
    color: white;
}

.flex{
    display: flex;
    color: white;
    font-size: 25px;
    padding: 20px;
    gap: 30px;
}
.t{
    color: white;
    font-size:25px;
}
.sl{
    color: deeppink;
    background-color:white;
    font-size: 30px;
    border-radius: 50px;
    border: 0px;
    padding: 10px 20px;
}
.action{
    display: flex;
    text-align: center;
}
.faction{
    display: flex;
    text-align: center;
}
.raha{
    text-align: center;
    padding: 30px;
    margin: 60px;

}
.one{
    font-size: 120ppx;
    padding: 40px;
    margin: 30px;
    gap: 20px;
}







@media screen and (max-width:576px) {

    .section {
        display: flex;
        justify-content: space-around;
        background-color: #fff;
        background-image: url(B8A2-Gamer-Zone-main/images/Group\ 14.png);
        background-repeat: no-repeat;
        flex-direction: column;
        width: 901px;
    }

    .Goat {
        color: blueviolet;
        border-radius: 10px;
        margin-left: 129px;
    }
}